doctype html
html
    head
        title OrestasMažeika - CV
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="css/index.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        
    body(data-spy="scroll" data-target=".navbar" data-offset="20" id="home")
        nav.navbar.navbar-fixed-top.transparent.navbar-default(role="navigation").transparent
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle navigation     
                        span.icon-bar     
                        span.icon-bar     
                        span.icon-bar
            
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="#home") Pradžia
                        li
                            a(href="#aboutme") Apie mane     
                        li
                            a(href="#skills") Sugebėjimai      
                        li
                            a(href="#contacts") Kontaktai
        //-     /.navbar-collapse
        //- /.container-fluid
       
        #home.jumbotron.jumbotron-fluid
            img(src="../images/prof.png", alt="" class="img-responsive")
            

        #aboutme.container-fluid
            h1 Apie mane
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1


        #skills.container-fluid
            h1 Mano sugebėjimai
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        
        #contacts.container-fluid
            h1 Kontaktai
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                    p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1   
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!  
                p
                    | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
                 

        //- #skills.container-fluid
        //-     h1 Section 2
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //- #contacts.container-fluid
        //-     h1 Section 3
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar wh h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!ile scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //- #section4.container-fluid
        //-     h1 Section 4 Submenu 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation ba h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling! h1 Section 1
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!r while scrolling!
        //-     |   
        //-     p
        //-         | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        

    script(src = '/jquery/jquery.js')
    script(src = '/bootstrap/js/bootstrap.js')
    script(src = '/js/index.js')
    

    
