doctype html
html
    head
        title OrestasMažeika - CV
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="css/index.css")
    body
        nav.navbar.navbar-fixed-top.transparent
            .container

    
    script(src = '/jquery/jquery.js')
    script(src = '/bootstrap/js/bootstrap.js')
    
