doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="https://www.facebook.com/2008/fbml")
    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#')
        title Orestas Mažeika - CV
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="css/index.css")
        link(rel="image_src" href="../images/thumbnail.png")
        link(rel='shortcut icon', type='image/png', href='../images/favicon-64.png' sizes="16x16")
        link(href='https://fonts.googleapis.com/css?family=Archivo', rel='stylesheet')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
        meta(property='og:image', content="http://www.omazeika.lt/images/thumbnail_fb.png")
        meta(property='og:type', content="website")
        meta(property='og:title', content="Orestas Mažeika - Junior WEB Developer")
        meta(property='og:url', content="http://www.omazeika.lt/")
        meta(property='og:description', content="I am open for new things, new technologies, learning new things.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        

        

    body(data-spy="scroll" data-target=".navbar" data-offset="400" id="home")
        nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle navigation     
                        span.fas.fa-bars.burger
            
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="#home" class="navlink") Home
                        li
                            a(href="#aboutme" class="navlink") About me    
                        li
                            a(href="#skills" class="navlink") Skills      
                        li
                            a(href="#contacts" class="navlink") Contacts
                        li.nav-item.dropdown.navlink.navbar-right
                            a#navbarDropdown.nav-link.navlink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Language
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='/') English
                                            br
                                        a.dropdown-item(href='/lt') Lietuvių
        //-     /.navbar-collapse
        //- /.container-fluid
       
        #home.jumbotron.jumbotron-fluid
            img(src="../images/prof_eng.png", alt="" style="width:100%;" class="img-responsive")
            

        #aboutme.container-fluid
            .text-center
                    h1 About me
            .container
                ul.timeline

                    li
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        | 15 July 2016
                            .timeline-body
                                p Finished Rietavas Laurynas Ivinskis gymnasium

                    li.timeline-inverted
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        | 1 September 2016
                            .timeline-body
                                p Started studying Software Engineering at Vilnius Gediminas Technical University

                    li
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  February - May 2017
                            .timeline-body
                                p Internship at "Swedbank IT academy"

                    li.timeline-inverted
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  21 May 2018 - Present
                            .timeline-body
                                p Internship at "Luminor"
            div(style='text-align: center;')
                div(style='display: inline-block; text-align: left;')
                    p I am second year student of Software Engineering at Vilnius Gediminas Technical University.
                    p About a year ago I started learning Web development, so at this moment it is my top interest.
                    p I am open for new things, new technologies, learning new things.
                    p My skills are not the best at the moment, but I am improving my knowledge.

                

        #skills.container-fluid
            .text-center
                h1 Skills
                .container.skill
                    .row.pad

                        .col-xs-12.col-md-3.col-lg-3.col-xl-3.html.min
                            h5 HTML
                            img(src="../images/html.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-xl-3.col-xl-offset-1.css.min
                            h5 CSS
                            img(src="../images/css.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-xl-3.col-xl-offset-1.js.min
                            h5 Javascript
                            img(src="../images/js.png")#logo

                    .row.pad

                        .col-xs-12.col-md-3.col-lg-3.col-xl-3.nodejs.min
                            h5 NodeJS
                            img(src="../images/nodejs.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-xl-3.express.min
                            h5 Express
                            img(src="../images/express.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-xl-3.bootstrap.min
                            h5 Bootstrap
                            img(src="../images/bootstrap.png")#logo

                    .row.pad

                        .col-xs-12.col-md-3.col-lg-3.col-xl-3.photoshop.min
                            h5 Adobe Photoshop
                            img(src="../images/ps.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-xl-3.xd.min
                            h5 Adobe XD
                            img(src="../images/xd.png")#logo
                        .col-xs-12.col-md-3.col-md-offset-1.col-lg-3.col-xl-3.pug.min
                            h5 MongoDB
                            img(src="../images/mongodb.png")#logo
                
    
        #contacts.container-fluid
            .text-center
                h1 Contacts

            div(style='text-align: center;')
                div(style='display: inline-block; text-align: left;')

                    i(style="font-size:24px;").fab.fa-facebook
                        a(href='https://www.facebook.com/profile.php?id=100003219100346')
                            span Facebook
                    br

                    i(style="font-size:24px;").fab.fa-linkedin
                        a(href='https://www.linkedin.com/in/orestasmaz/')
                            span LinkedIn
                    br

                    i(style="font-size:24px;").fas.fa-mobile-alt
                        span +370 693 10546
                    br
                    

                    i(style="font-size:24px;").far.fa-envelope
                        span m.orestas@yahoo.com
                    br
                    br

            div(style='text-align: center;')
                    div(style='display: inline-block; text-align: left;')
                        h5.pad-bottom Download my CV in PDF format
                        br
                        a(href='files/CV_LT.pdf', download='').download LT version
                        a(href='files/CV_EN.pdf', download='').download EN version
                    
    script(src = '/jquery/jquery.js')
    script(src = '/bootstrap/js/bootstrap.js')
    script(src = '/js/index.js')
    

    
