doctype html
html
    head
        title Orestas Mažeika - CV
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="css/index.css")
        link(rel="image_src" href="../images/thumbnail.png")
        link(rel='shortcut icon', type='image/png', href='../images/favicon-64.png' sizes="16x16")
        link(href='https://fonts.googleapis.com/css?family=Archivo', rel='stylesheet')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(property='og:title', content='Orestas Mažeika - CV')
        meta(property='og:image', content="../images/thumbnail.png")
        

    body(data-spy="scroll" data-target=".navbar" data-offset="400" id="home")
        nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle navigation     
                        span.fas.fa-bars.burger
            
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="#home" class="navlink") Pradžia
                        li
                            a(href="#aboutme" class="navlink") Apie mane     
                        li
                            a(href="#skills" class="navlink") Sugebėjimai      
                        li
                            a(href="#contacts" class="navlink") Kontaktai
                        li.nav-item.dropdown.navlink.navbar-right
                            a#navbarDropdown.nav-link.navlink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Kalba
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='/') English
                                    br
                                a.dropdown-item(href='/lt') Lietuvių

        //-     /.navbar-collapse
        //- /.container-fluid
       
        #home.jumbotron.jumbotron-fluid
            img(src="../images/prof.png", alt="" class="img-responsive")
            

        #aboutme.container-fluid
            .text-center
                    h1 Apie mane
            .container
                ul.timeline

                    li
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  2016 liepos 15 d.
                            .timeline-body
                                p Baigiau Rietavo Lauryno Ivinskio gimnaziją

                    li.timeline-inverted
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  2016 rugsėjo 1 d.
                            .timeline-body
                                p Pradėjau studijuoti programų inžineriją Vilniaus Gedimino Technikos Universitete

                    li
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  2017 vasaris - gegužė
                            .timeline-body
                                p Mokiausi "Swedbank IT akademijoje"

                    li.timeline-inverted
                        .timeline-badge
                            i.glyphicon.glyphicon-check
                        .timeline-panel
                            .timeline-heading
                                p
                                    small.text-muted
                                        i.glyphicon.glyphicon-time
                                        |  2018 gegužės 21 d. - dabar
                            .timeline-body
                                p Pradėjau praktiką banke "Luminor"
            div(style='text-align: center;')
                div(style='display: inline-block; text-align: left;')
            
                    p Esu antro kurso programų inžinerijos studentas Vilniaus Gedimino Technikos universitete.
                    p Prieš metus pradėjau domėtis Web programavimu, todėl būtent ši sritis mane labiausiai domina.
                    p Esu atviras naujovėms, mėgstu mokytis naujus dalykus.
                    p Mano sugebėjimai nėra patys geriausi, tačiau labai stengiuosi plėsti savo žinias.
                

        #skills.container-fluid
            .text-center
                h1 Mano sugebėjimai
                .container.skill
                    .row
                        .col-md-3.html
                            h5 HTML
                            img(src="../images/html.png")#logo
                        .col-md-3.col-md-offset-1.css
                            h5 CSS
                            img(src="../images/css.png")#logo
                        .col-md-3.col-md-offset-1.js
                            h5 Javascript
                            img(src="../images/js.png")#logo
                    .row
                        .col-md-3.nodejs
                            h5 NodeJS
                            img(src="../images/nodejs.png")#logo
                        .col-md-3.col-md-offset-1.express
                            h5 Express
                            img(src="../images/express.png")#logo
                        .col-md-3.col-md-offset-1.bootstrap
                            h5 Bootstrap
                            img(src="../images/bootstrap.png")#logo
                    .row
                        .col-md-3.photoshop
                            h5 Adobe Photoshop
                            img(src="../images/ps.png")#logo
                        .col-md-3.col-md-offset-1.xd
                            h5 Adobe XD
                            img(src="../images/xd.png")#logo
                        .col-md-3.col-md-offset-1.pug
                            h5 MongoDB
                            img(src="../images/mongodb.png")#logo
                
    
        #contacts.container-fluid
            .text-center
                h1 Kontaktai

            div(style='text-align: center;')
                div(style='display: inline-block; text-align: left;')

                    i(style="font-size:24px;").fab.fa-facebook
                        a(href='https://www.facebook.com/profile.php?id=100003219100346')
                            span Facebook
                    br

                    i(style="font-size:24px;").fab.fa-linkedin
                        a(href='https://www.linkedin.com/in/orestasmaz/')
                            span LinkedIn
                    br

                    i(style="font-size:24px;").fas.fa-mobile-alt
                        span +370 693 10546
                    br
                    

                    i(style="font-size:24px;").far.fa-envelope
                        span m.orestas@yahoo.com
                    br
                    br

            div(style='text-align: center;')
                    div(style='display: inline-block; text-align: left;')
                        h5 Parsisiųskite mano CV PDF formatu
                        br
                        .row.color
                            a(href='files/CV_LT.pdf', download='').navlink.download.navlink.col LT versija
                            a(href='files/CV_EN.pdf', download='').navlink.download.col.col-md-offset-2 EN versija
                    

    script(src = '/jquery/jquery.js')
    script(src = '/bootstrap/js/bootstrap.js')
    script(src = '/js/index.js')
    

    
